.submitUrl{
    background-color: #3d5cc6;
    color: white;
    padding: 0.4rem;
    font-size: 1rem;
    flex-grow: 5;
}

.urlInput{
    display: flex;
    margin-bottom: 1rem;
}

.urlInput input[type='text']{
    padding: 1rem;
    font-size: 1rem;
    width: 80%;
    flex-grow: 1;
}


.submitUrl:hover{
    background-color: #162f46;
}