#main {
  width: 400px;
  height: 400px;
  margin: 100px auto;
  position: relative;
  border: 1px solid white;
}

#main h1 {
  text-align: center;
  margin-top: 150px;
}

.child_div {
  width: 200px;
  height: 200px;
  position: absolute;
}

#top_left_div {
  top: 0;
  left: 0;
  background-color: red;
  transition: transform 1s;
  transform-origin: top left;
}

#top_right_div {
  top: 0;
  left: 200px;
  background-color: yellow;
  transition: transform 1s;
  transform-origin: top right;
}

#bottom_left_div {
  top: 200px;
  left: 0;
  background-color: blue;
  transition: transform 1s;
  transform-origin: bottom left;
}

#bottom_right_div {
  top: 200px;
  left: 200px;
  background-color: green;
  transition: transform 1s;
  transform-origin: bottom right;
}

#main:hover #top_left_div {
  transform: rotate(90deg);
}

#main:hover #top_right_div {
  transform: rotate(-90deg);
}

#main:hover #bottom_left_div {
  transform: rotate(-90deg);
}

#main:hover #bottom_right_div {
  transform: rotate(90deg);
}

